ManagementPresent/StudentManagement/Connected Services/CourseService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentService.Request" minOccurs="0" name="request" nillable="true" type="q1:CourseRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="SaveResult" nillable="true" type="q2:ResponseServiceOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentService.Request" minOccurs="0" name="request" nillable="true" type="q3:PaginationRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="CoursesResult" nillable="true" type="q4:ResponseServiceOfArrayOfCourseDZYKyK_SB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Course">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="CourseResult" nillable="true" type="q5:ResponseServiceOfCourseDZYKyK_SB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="DeleteResult" nillable="true" type="q6:ResponseServiceOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseByStudentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CourseByStudentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="CourseByStudentIdResult" nillable="true" type="q7:ResponseServiceOfCourseDZYKyK_SB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>