ManagementPresent/StudentManagement/Connected Services/CourseService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CourseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICourseService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Courses_InputMessage">
    <wsdl:part name="parameters" element="tns:Courses" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Courses_OutputMessage">
    <wsdl:part name="parameters" element="tns:CoursesResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Course_InputMessage">
    <wsdl:part name="parameters" element="tns:Course" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Course_OutputMessage">
    <wsdl:part name="parameters" element="tns:CourseResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ICourseService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ICourseService_CourseByStudentId_InputMessage">
    <wsdl:part name="parameters" element="tns:CourseByStudentId" />
  </wsdl:message>
  <wsdl:message name="ICourseService_CourseByStudentId_OutputMessage">
    <wsdl:part name="parameters" element="tns:CourseByStudentIdResponse" />
  </wsdl:message>
  <wsdl:portType name="ICourseService">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Save" message="tns:ICourseService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/SaveResponse" message="tns:ICourseService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Courses">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Courses" message="tns:ICourseService_Courses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/CoursesResponse" message="tns:ICourseService_Courses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Course">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Course" message="tns:ICourseService_Course_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/CourseResponse" message="tns:ICourseService_Course_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/Delete" message="tns:ICourseService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/DeleteResponse" message="tns:ICourseService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CourseByStudentId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICourseService/CourseByStudentId" message="tns:ICourseService_CourseByStudentId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICourseService/CourseByStudentIdResponse" message="tns:ICourseService_CourseByStudentId_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICourseService" type="tns:ICourseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Courses">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Courses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Course">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Course" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ICourseService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CourseByStudentId">
      <soap:operation soapAction="http://tempuri.org/ICourseService/CourseByStudentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CourseService">
    <wsdl:port name="BasicHttpBinding_ICourseService" binding="tns:BasicHttpBinding_ICourseService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/CourseService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>