ManagementPresent/StudentManagement/Connected Services/CourseService/StudentService.Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CourseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CourseStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CourseRequest" nillable="true" type="tns:CourseRequest" />
  <xs:complexType name="PaginationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginationRequest" nillable="true" type="tns:PaginationRequest" />
</xs:schema>