ManagementPresent/StudentManagement/Connected Services/FacutlyService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
  <xs:element name="Facutlys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FacutlysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="FacutlysResult" nillable="true" type="q1:ResponseServiceOfArrayOfFacutlyDZYKyK_SB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="request" nillable="true" type="q2:Facutly" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="SaveResult" nillable="true" type="q3:ResponseServiceOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Facutly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacutlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="FacutlyResult" nillable="true" type="q4:ResponseServiceOfFacutlyDZYKyK_SB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="DeleteResult" nillable="true" type="q5:ResponseServiceOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="request" nillable="true" type="q6:Facutly" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StudentService.Response" minOccurs="0" name="AddResult" nillable="true" type="q7:ResponseServiceOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>