ManagementPresent/StudentManagement/Connected Services/FacutlyService/StudentService.Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
  <xs:complexType name="ResponseServiceOfArrayOfFacutlyDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfFacutly" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q1:ArrayOfFacutly" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfArrayOfFacutlyDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfArrayOfFacutlyDZYKyK_SB" />
  <xs:complexType name="ResponseServiceOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfint" nillable="true" type="tns:ResponseServiceOfint" />
  <xs:complexType name="ResponseServiceOfFacutlyDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Facutly" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q2:Facutly" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfFacutlyDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfFacutlyDZYKyK_SB" />
</xs:schema>