ManagementPresent/StudentManagement/Connected Services/ClassService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IClassService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassAll_InputMessage">
    <wsdl:part name="parameters" element="tns:ClassAll" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClassAllResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassGetById_InputMessage">
    <wsdl:part name="parameters" element="tns:ClassGetById" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassGetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClassGetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClassService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassJonCourseJoinFaculty_InputMessage">
    <wsdl:part name="parameters" element="tns:ClassJonCourseJoinFaculty" />
  </wsdl:message>
  <wsdl:message name="IClassService_ClassJonCourseJoinFaculty_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClassJonCourseJoinFacultyResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassService">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/Save" message="tns:IClassService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/SaveResponse" message="tns:IClassService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClassAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/ClassAll" message="tns:IClassService_ClassAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/ClassAllResponse" message="tns:IClassService_ClassAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClassGetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/ClassGetById" message="tns:IClassService_ClassGetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/ClassGetByIdResponse" message="tns:IClassService_ClassGetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/Delete" message="tns:IClassService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/DeleteResponse" message="tns:IClassService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClassJonCourseJoinFaculty">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassService/ClassJonCourseJoinFaculty" message="tns:IClassService_ClassJonCourseJoinFaculty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassService/ClassJonCourseJoinFacultyResponse" message="tns:IClassService_ClassJonCourseJoinFaculty_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassService" type="tns:IClassService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IClassService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassAll">
      <soap:operation soapAction="http://tempuri.org/IClassService/ClassAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassGetById">
      <soap:operation soapAction="http://tempuri.org/IClassService/ClassGetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClassService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClassJonCourseJoinFaculty">
      <soap:operation soapAction="http://tempuri.org/IClassService/ClassJonCourseJoinFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassService">
    <wsdl:port name="BasicHttpBinding_IClassService" binding="tns:BasicHttpBinding_IClassService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/ClassService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>