ManagementPresent/StudentManagement/Connected Services/ClassService/StudentService.Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IdCourseAndFacultyRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PaginationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CourseId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="FacultyId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="IdCourseAndFacultyRequest" nillable="true" type="tns:IdCourseAndFacultyRequest" />
  <xs:complexType name="PaginationRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaginationRequest" nillable="true" type="tns:PaginationRequest" />
</xs:schema>