ManagementPresent/StudentManagement/Connected Services/ScoreService/StudentService.Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubjectAndClassIdRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassId" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubjectAndClassIdRequest" nillable="true" type="tns:SubjectAndClassIdRequest" />
  <xs:complexType name="TopStudentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseId" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyId" type="xs:int" />
      <xs:element minOccurs="0" name="SemesterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TopStudentRequest" nillable="true" type="tns:TopStudentRequest" />
  <xs:complexType name="ScoreStudentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Evaluate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberStudy" type="xs:int" />
      <xs:element minOccurs="0" name="Score1" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Score2" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Score3" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Scoreword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semester" type="xs:int" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="SubjectId" type="xs:int" />
      <xs:element minOccurs="0" name="SummaryScore" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SummaryScore4" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScoreStudentRequest" nillable="true" type="tns:ScoreStudentRequest" />
  <xs:complexType name="SaveScoreByLectureRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Evaluate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Score1" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Score2" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Score3" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Scoreword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SummaryScore" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SummaryScore4" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SaveScoreByLectureRequest" nillable="true" type="tns:SaveScoreByLectureRequest" />
  <xs:complexType name="StudentViewScoreRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="SemesterId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentViewScoreRequest" nillable="true" type="tns:StudentViewScoreRequest" />
</xs:schema>