ManagementPresent/StudentManagement/Connected Services/UserService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IUserService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IUserService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUserService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_User_InputMessage">
    <wsdl:part name="parameters" element="tns:User" />
  </wsdl:message>
  <wsdl:message name="IUserService_User_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_Users_InputMessage">
    <wsdl:part name="parameters" element="tns:Users" />
  </wsdl:message>
  <wsdl:message name="IUserService_Users_OutputMessage">
    <wsdl:part name="parameters" element="tns:UsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ProfileStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:ProfileStudent" />
  </wsdl:message>
  <wsdl:message name="IUserService_ProfileStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ProfileLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:ProfileLecture" />
  </wsdl:message>
  <wsdl:message name="IUserService_ProfileLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProfileLectureResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Login" message="tns:IUserService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/LoginResponse" message="tns:IUserService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Save" message="tns:IUserService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/SaveResponse" message="tns:IUserService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Delete" message="tns:IUserService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteResponse" message="tns:IUserService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="User">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/User" message="tns:IUserService_User_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UserResponse" message="tns:IUserService_User_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Users">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/Users" message="tns:IUserService_Users_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UsersResponse" message="tns:IUserService_Users_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProfileStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ProfileStudent" message="tns:IUserService_ProfileStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ProfileStudentResponse" message="tns:IUserService_ProfileStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProfileLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ProfileLecture" message="tns:IUserService_ProfileLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ProfileLectureResponse" message="tns:IUserService_ProfileLecture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ChangePassword" message="tns:IUserService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ChangePasswordResponse" message="tns:IUserService_ChangePassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IUserService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/IUserService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUserService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User">
      <soap:operation soapAction="http://tempuri.org/IUserService/User" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Users">
      <soap:operation soapAction="http://tempuri.org/IUserService/Users" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileStudent">
      <soap:operation soapAction="http://tempuri.org/IUserService/ProfileStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProfileLecture">
      <soap:operation soapAction="http://tempuri.org/IUserService/ProfileLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>