ManagementPresent/StudentManagement/Connected Services/UserService/StudentService.Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
  <xs:complexType name="ResponseServiceOfCurrentUserDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CurrentUser" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q1:CurrentUser" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfCurrentUserDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfCurrentUserDZYKyK_SB" />
  <xs:complexType name="ResponseServiceOfint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfint" nillable="true" type="tns:ResponseServiceOfint" />
  <xs:complexType name="ResponseServiceOfUserDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="User" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfUserDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfUserDZYKyK_SB" />
  <xs:complexType name="ResponseServiceOfArrayOfUserViewModelDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfUserViewModel" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q3:ArrayOfUserViewModel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfArrayOfUserViewModelDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfArrayOfUserViewModelDZYKyK_SB" />
  <xs:complexType name="ResponseServiceOfProfilesStudentDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProfilesStudent" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q4:ProfilesStudent" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfProfilesStudentDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfProfilesStudentDZYKyK_SB" />
  <xs:complexType name="ResponseServiceOfProfilesDZYKyK_SB">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseServiceOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Profiles" Namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StudentService.Model" minOccurs="0" name="Data" nillable="true" type="q5:Profiles" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseServiceOfProfilesDZYKyK_SB" nillable="true" type="tns:ResponseServiceOfProfilesDZYKyK_SB" />
</xs:schema>