ManagementPresent/StudentManagement/Connected Services/UserService/StudentService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CurrentUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CurrentUser" nillable="true" type="tns:CurrentUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ClassId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DayOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfUserViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserViewModel" nillable="true" type="tns:UserViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserViewModel" nillable="true" type="tns:ArrayOfUserViewModel" />
  <xs:complexType name="UserViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DayOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserViewModel" nillable="true" type="tns:UserViewModel" />
  <xs:complexType name="ProfilesStudent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Profiles">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CourseName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProfilesStudent" nillable="true" type="tns:ProfilesStudent" />
  <xs:complexType name="Profiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avatar" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="DayOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profiles" nillable="true" type="tns:Profiles" />
</xs:schema>