ManagementPresent/StudentManagement/Connected Services/SubjectService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SubjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubjectService_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Subjects_InputMessage">
    <wsdl:part name="parameters" element="tns:Subjects" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Subjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Subject_InputMessage">
    <wsdl:part name="parameters" element="tns:Subject" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Subject_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_SubjectByFacultyAndSemester_InputMessage">
    <wsdl:part name="parameters" element="tns:SubjectByFacultyAndSemester" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_SubjectByFacultyAndSemester_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectByFacultyAndSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_SubjectHaveClassSubjectOpen_InputMessage">
    <wsdl:part name="parameters" element="tns:SubjectHaveClassSubjectOpen" />
  </wsdl:message>
  <wsdl:message name="ISubjectService_SubjectHaveClassSubjectOpen_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubjectHaveClassSubjectOpenResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubjectService">
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/Save" message="tns:ISubjectService_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/SaveResponse" message="tns:ISubjectService_Save_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subjects">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/Subjects" message="tns:ISubjectService_Subjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/SubjectsResponse" message="tns:ISubjectService_Subjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subject">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/Subject" message="tns:ISubjectService_Subject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/SubjectResponse" message="tns:ISubjectService_Subject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/Delete" message="tns:ISubjectService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/DeleteResponse" message="tns:ISubjectService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubjectByFacultyAndSemester">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/SubjectByFacultyAndSemester" message="tns:ISubjectService_SubjectByFacultyAndSemester_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/SubjectByFacultyAndSemesterResponse" message="tns:ISubjectService_SubjectByFacultyAndSemester_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubjectHaveClassSubjectOpen">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubjectService/SubjectHaveClassSubjectOpen" message="tns:ISubjectService_SubjectHaveClassSubjectOpen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubjectService/SubjectHaveClassSubjectOpenResponse" message="tns:ISubjectService_SubjectHaveClassSubjectOpen_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubjectService" type="tns:ISubjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Save">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/Save" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subjects">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/Subjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subject">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/Subject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubjectByFacultyAndSemester">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/SubjectByFacultyAndSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubjectHaveClassSubjectOpen">
      <soap:operation soapAction="http://tempuri.org/ISubjectService/SubjectHaveClassSubjectOpen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubjectService">
    <wsdl:port name="BasicHttpBinding_ISubjectService" binding="tns:BasicHttpBinding_ISubjectService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/SubjectService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>