ManagementPresent/StudentManagement/Connected Services/SubjectService/StudentService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FacultyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Semester" type="xs:int" />
      <xs:element minOccurs="0" name="Total" type="xs:long" />
      <xs:element minOccurs="0" name="UsedCalculate" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subject" nillable="true" type="tns:Subject" />
  <xs:complexType name="ArrayOfSubject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" nillable="true" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubject" nillable="true" type="tns:ArrayOfSubject" />
  <xs:complexType name="ArrayOfIdAndNameModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IdAndNameModel" nillable="true" type="tns:IdAndNameModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIdAndNameModel" nillable="true" type="tns:ArrayOfIdAndNameModel" />
  <xs:complexType name="IdAndNameModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdAndNameModel" nillable="true" type="tns:IdAndNameModel" />
</xs:schema>