ManagementPresent/StudentManagement/Connected Services/OpenClassService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassSubjectService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Response" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Model" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StudentService.Request" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassSubjectService_OpenClass_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenClass" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_OpenClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_SaveOpenClass_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOpenClass" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_SaveOpenClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOpenClassResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_GetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetById" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_GetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_OpenClassForLecture_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenClassForLecture" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_OpenClassForLecture_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenClassForLectureResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_OpenClassForRegistStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenClassForRegistStudent" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_OpenClassForRegistStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenClassForRegistStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_StudentRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentRegist" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_StudentRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentRegistResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_ResultRegistClassSubjectByStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:ResultRegistClassSubjectByStudent" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_ResultRegistClassSubjectByStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultRegistClassSubjectByStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_StudentCancelRegist_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentCancelRegist" />
  </wsdl:message>
  <wsdl:message name="IClassSubjectService_StudentCancelRegist_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentCancelRegistResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassSubjectService">
    <wsdl:operation name="OpenClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClass" message="tns:IClassSubjectService_OpenClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClassResponse" message="tns:IClassSubjectService_OpenClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOpenClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/SaveOpenClass" message="tns:IClassSubjectService_SaveOpenClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/SaveOpenClassResponse" message="tns:IClassSubjectService_SaveOpenClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/Delete" message="tns:IClassSubjectService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/DeleteResponse" message="tns:IClassSubjectService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/GetById" message="tns:IClassSubjectService_GetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/GetByIdResponse" message="tns:IClassSubjectService_GetById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenClassForLecture">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClassForLecture" message="tns:IClassSubjectService_OpenClassForLecture_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClassForLectureResponse" message="tns:IClassSubjectService_OpenClassForLecture_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenClassForRegistStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClassForRegistStudent" message="tns:IClassSubjectService_OpenClassForRegistStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/OpenClassForRegistStudentResponse" message="tns:IClassSubjectService_OpenClassForRegistStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentRegist">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/StudentRegist" message="tns:IClassSubjectService_StudentRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/StudentRegistResponse" message="tns:IClassSubjectService_StudentRegist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResultRegistClassSubjectByStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/ResultRegistClassSubjectByStudent" message="tns:IClassSubjectService_ResultRegistClassSubjectByStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/ResultRegistClassSubjectByStudentResponse" message="tns:IClassSubjectService_ResultRegistClassSubjectByStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentCancelRegist">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassSubjectService/StudentCancelRegist" message="tns:IClassSubjectService_StudentCancelRegist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassSubjectService/StudentCancelRegistResponse" message="tns:IClassSubjectService_StudentCancelRegist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClassSubjectService" type="tns:IClassSubjectService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OpenClass">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/OpenClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOpenClass">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/SaveOpenClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetById">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/GetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenClassForLecture">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/OpenClassForLecture" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenClassForRegistStudent">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/OpenClassForRegistStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentRegist">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/StudentRegist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResultRegistClassSubjectByStudent">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/ResultRegistClassSubjectByStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentCancelRegist">
      <soap:operation soapAction="http://tempuri.org/IClassSubjectService/StudentCancelRegist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassSubjectService">
    <wsdl:port name="BasicHttpBinding_IClassSubjectService" binding="tns:BasicHttpBinding_IClassSubjectService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StudentService.Interface/ClassSubjectService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>